/* Scrollbar */
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(15, 23, 42, 0);
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
  transition: background 0.2s;
}
:hover::-webkit-scrollbar-thumb,
*:hover > ::-webkit-scrollbar-thumb {
  background: rgba(15, 23, 42, 0.22);
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 23, 42, 0.35);
  background-clip: padding-box;
}
